<div class="row">

    <div class="col">
        <div id="captcha" class="captcha"
             appCaptcha
             [requestCaptcha] = "generateCaptcha"
             [enteredCaptcha] = "captchaForDirective"
             (captcha)="newCaptcha($event)"
             (captchaResult)="captchaResultDirective($event)">{{captcha}}</div>
    </div>

    <div class="col">
        <button class="btn rounded btn-primary" type="button" (click)="createCaptcha()"  >Cambiar</button>
    </div>  

</div>
<br>
<div class="input">
    <input type="text" 
           name="reCaptcha" 
           [maxlength]="6" 
           id="reCaptcha" 
           (ngModelChange)="onChange($event)"
           [(ngModel)]="enteredCaptcha" 
           placeholder="Ingresá el código">
</div>