<h1 class="text-center">ESPECIALISTA</h1>
<hr>
<div *ngIf="doctors?.length > 0; else elseBlock">
    <div *ngFor="let doctor  of doctors; let i=index">
        <input type="radio" name="doctor" class="btn-check" id={{doctor.displayName}} autocomplete="off"
            [value]="doctor.uid" (click)="selectDoctor($event)" />

        <label class="btn btn-outline-primary" for={{doctor.displayName}}>
            <div class="row">
                <div class="col-md-12">
                {{doctor.displayName}}
                </div>
                <div class="col-md-12">
                <img class="img-fluid" src="{{(doctor.photoURL) ? doctor.photoURL : '/assets/common/profile-user.png'}}"
                    alt="{{doctor.displayName}}" style="width: 30%">
                </div>
            </div>
        </label>
    </div>
</div>
<ng-template #elseBlock>
    <label class="btn btn-outline-danger">NO EXISTEN ESPECIALISTAS PARA LA ESPECIALIDAD SELECCIONADA O NO SELECCIONO UNA ESPECIALIDAD</label>
</ng-template>