<h1>MIS TURNOS</h1>
<hr>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#specialtyModal">
        POR ESPECIALIDAD
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#specialistModal">
        POR PACIENTE
    </button>
    <input class="form-control rounded-25 py-2" type="search" placeholder="Buscar..." [(ngModel)]="searchValue" >
    <button type="button" class="btn btn-primary search" style="width:10%;" (click)="search()">
        <i class="bi bi-search"></i>
    </button>
    
</div>
<hr>
<div *ngIf="appointments?.length > 0; else elseBlock">

    <div *ngIf="this.appointments as appointments; else elseBlock">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">PACIENTE</th>
                    <th scope="col">ESPECIALIDAD</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">ESTADO</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let appointment of appointments; let i=index">
                    <td class="align-middle">{{appointment.patient }}</td>
                    <td class="align-middle">{{appointment.specialty | specialties}}</td>
                    <td class="align-middle">{{appointment.date}}</td>
                    <td class="align-middle">
                        <label class="btn btn-info">{{appointment.status | appointmentStatus}}</label>
                    </td>

                    <td class="align-middle" *ngIf="appointment.status == 'pending'">
                        <button type="button" class="btn btn-success" (click)="acceptAppointment(appointment.uid, 'accepted')">ACEPTAR</button>
                    </td>

                    <td class="align-middle" *ngIf="appointment.status == 'accepted'">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#closeAppointmentModal" (click)="openCloseAppointment(appointment.uid, 'closed' )">FINALIZAR</button>
                    </td>                    

                    <td class="align-middle" *ngIf="appointment.status == 'pending'">
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#cancelModal" (click)="openCancelOrRejectAppointment(appointment.uid, 'canceled')">CANCELAR</button>
                    </td> 
                    
                    <td class="align-middle" *ngIf="appointment.status == 'pending'">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelModal" (click)="openCancelOrRejectAppointment(appointment.uid, 'rejected')">RECHAZAR</button>
                    </td> 

                   <td class="align-middle" *ngIf="appointment.status == 'canceled' || appointment.status == 'rejected' || appointment.status == 'closed'">
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#infoModal" (click)="openInfoAppointment(appointment.uid)">
                            <i class="bi bi-eye-fill"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #elseBlock>
    <label class="btn btn-outline-danger">NO EXISTEN TURNOS PARA EL CRITERIO SELECCIONADO</label>
</ng-template>


<!-- Modals -->

<!-- MODAL ESPECIALIDADES -->
<div class="modal fade" id="specialtyModal" tabindex="-1" aria-labelledby="specialtyModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1>ESPECIALIDADES</h1>
                <div *ngIf="specialtiesList?.length > 0; else elseBlockSpecialties">
                    <div *ngFor="let specialty  of specialtiesList; let i=index">
                        <input type="radio" name="specialty" class="btn-check" id={{specialty}} autocomplete="off"
                            [value]="specialty" (click)="selectSpecialty($event)" data-bs-dismiss="modal" />

                        <label class="btn btn-outline-primary" for={{specialty}}>
                            <div class="d-flex align-items-center justify-content-between">
                                {{specialty | specialties}}
                                <img class="img-fluid" src='/assets/specialties/{{specialty}}.png'
                                    onerror="this.onerror=null;this.src='/assets/common/logo.png';" alt="{{specialty}}"
                                    style="width: 15%">
                            </div>
                        </label>
                    </div>
                </div>
                <ng-template #elseBlockSpecialties>
                    <label class="btn btn-outline-danger">NO EXISTEN ESPECIALIDADES PARA LAS QUE USTED POSEA TURNO</label>
                </ng-template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL PACIENTES -->
<div class="modal fade" id="specialistModal" tabindex="-1" aria-labelledby="specialistModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1>PACIENTES</h1>
                <div *ngIf="patientsBySpecialist?.length > 0; else elseBlockPatients">
                    <div *ngFor="let patient  of patientsBySpecialist; let i=index">
                        <input type="radio" name="patient" class="btn-check" id={{patient.displayName}} autocomplete="off"
                            [value]="patient.displayName" (click)="selectDoctor($event)"
                            data-bs-dismiss="modal"/>
                
                        <label class="btn btn-outline-primary" for={{patient.displayName}}>
                            <div class="d-flex align-items-center justify-content-between">
                                {{patient.displayName}}
                                <img class="img-fluid" src="{{(patient.photoURL) ? patient.photoURL : '/assets/common/profile-user.png'}}"
                                alt="{{patient.displayName}}" style="width: 15%">
                            </div>                            
                        </label>
                    </div>
                </div>
                <ng-template #elseBlockPatients>
                    <label class="btn btn-outline-danger">NO EXISTEN PACIENTES PARA LAS QUE USTED POSEA TURNO</label>
                </ng-template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL CANCELAR -->
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1>MOTIVO</h1>
                <div class="form-group col-md-12">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Ingrese motivo de la cancelacion/rechazo"   [formControl]="cancelReason">
                        <div class="input-group-append">
                          <button class="btn btn-outline-primary" type="button" (click)="cancelOrRejectAppointment()"  data-bs-dismiss="modal">CONFIRMAR</button>
                        </div>
                      </div>                                    
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL INFO -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-left">
                <h1>DETALLE DEL TURNO</h1>
                <p>STATUS: {{appointmentStatus | appointmentStatus}}</p>
                <p>Comentario: {{appointmentInfo}}</p> 
                <div *ngIf="appointmentDiagnostic != ''"> 
                    <p>DIAGNOSTICO: {{appointmentDiagnostic}}</p> 
                </div>
                <p>OBSERVACIONES:</p>
                <ul>
                    <li *ngFor="let info of appointmentAditionalInfo | keyvalue">
                        {{info.key}}: {{info.value}}
                    </li>
                </ul>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL FINALIZAR -->
<div class="modal fade" id="closeAppointmentModal" tabindex="-1" aria-labelledby="closeAppointmentModal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1 class="text-center">DIAGNOSTICO E HISTORIA CLINICA</h1>
                <div class="form-group col-md-12">
                
                    <div class="row align-items-center">
                        <div class="form-group col-md-6">
                            <label for="diagnostic">ALTURA</label>
                            <input type="number" class="form-control" placeholder="Ingrese altura en cm." [formControl]="height">
                        </div>
                
                        <div class="form-group col-md-6">
                            <label for="diagnostic">PESO</label>
                            <input type="number" class="form-control" placeholder="Ingrese peso" [formControl]="weight">
                        </div>
                    </div>
                    <br>
                    <div class="row align-items-center">
                        <div class="form-group col-md-6">
                            <label for="diagnostic">TEMPERATURA</label>
                            <input type="number" class="form-control" placeholder="Ingrese temperatura" [formControl]="temp">
                        </div>
                
                        <div class="form-group col-md-6">
                            <label for="diagnostic">PRESION</label>
                            <input type="number" class="form-control" placeholder="Ingrese presion arterial" [formControl]="pressure">
                        </div>
                    </div>
                    <br>
                    <label for="diagnostic">INFORMACION EXTRA</label>
                    <br>
                    <br>
                    <div class="row align-items-center">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Campo 1" [formControl]="field1Key">
                        </div>
                
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Valor 1" [formControl]="field1Value">
                        </div>
                    </div>
                    <br>
                    <div class="row align-items-center">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Campo 2" [formControl]="field2Key">
                        </div>
                
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Valor 2" [formControl]="field2Value">
                        </div>
                    </div>
                    <br>
                    <div class="row align-items-center">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Campo 3" [formControl]="field3Key">
                        </div>
                
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Valor 3" [formControl]="field3Value">
                        </div>
                    </div>
                    <br>
                    <div class="row align-items-center">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Campo 4" [formControl]="field4Key">
                        </div>
                
                        <div class="form-group col-md-6">                            
                            <input type="range" #time (input)="time.value" id="time" min="0" max="10" step="0.5" style="width: 100%;" (click)="setField4Value($event)">
                            <label for="time" class="text-center">({{ time.value }})</label>
                        </div>
                    </div>
                    <br>
                    <div class="row align-items-center">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Campo 5" [formControl]="field5Key">
                        </div>
                
                        <div class="form-group col-md-6">
                            <input type="number" class="form-control" placeholder="Valor 5" [formControl]="field5Value">
                        </div>
                    </div>
                    <br>
                    <div class="row align-items-center">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Campo 6" [formControl]="field6Key">
                        </div>
                
                        <div class="form-group col-md-6">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" (change)="setField6Value($event)">
                            </div>
                        </div>
                    </div>
                    

                    <hr>
               
                    <input type="text" class="form-control" placeholder="Ingrese comentario" [formControl]="comment">
                
                    <br>
                    <input type="text" class="form-control" placeholder="Ingrese diagnostico" [formControl]="diagnostic">                   
                
                </div>
                <br>
                <div class="modal-footer text-center">
                    <div class="row align-items-center">
                        <div class="form-group col-md-6">
                    <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal" (click)="closeAppointment()"
                        >CONFIRMAR</button>
                    </div>
                    <div class="form-group col-md-6">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>

                </div>
                </div>
        </div>
    </div>