<div class="container-fluid">
    <div class="p-2 mb-2 bg-light border rounded-3" style="width: 100%">
        <div *ngIf="patientsBySpecialist?.length > 0; else elseBlock">
            <div class="row card-group">
                <div  class="col-4" *ngFor="let patient  of patientsBySpecialist; let i=index">
                        <div class="card" style="width: 100%;">
                            <img class="mx-auto"
                                src="{{(patient.photoURL) ? patient.photoURL : '/assets/common/profile-user.png'}}"
                                alt="{{patient.displayName}}"
                                style="width: 50%;">
                            <div class="card-body">
                                <h3 class="card-title">PACIENTE: {{patient.displayName}}</h3>
                                <p class="card-text">OBRA SOCIAL: {{patient.insurance}}</p>
                                <p class="card-text">EDAD: {{patient.age}}</p>
                                <p class="text-left">ULTIMOS TURNOS:</p>
                                <ul>
                                    <li >{{patient.appointmentDates[0]}}</li>
                                    <li >{{patient.appointmentDates[1]}}</li>
                                    <li >{{patient.appointmentDates[2]}}</li>
                                </ul>
                                <br>
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#medicalHistoryModal" (click)="openMedicalHistory(patient.displayName)">HISTORIA CLINICA</button>
                            </div>
                        </div>

                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <label class="btn btn-outline-danger">NO EXISTEN PACIENTES CON TURNOS</label>
        </ng-template>
    </div>
</div>


<div class="modal fade" id="medicalHistoryModal" tabindex="-1" aria-labelledby="medicalHistoryModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div *ngIf="patientMedicalHistory != undefined ; else elseBlockMedicalHistory">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>HISTORIA CLINICA PACIENTE {{patientMedicalHistory.patient}}</h3>
                        <a class="btn btn-primary" (click)="download()">DESCARGAR</a>
                    </div>
                    <hr>
                    <div>
                        <h4>DATOS ULTIMO CONTROL</h4>
                        <ul>
                            <li>ALTURA: {{patientMedicalHistory.height}} cm..</li>
                            <li>PESO: {{patientMedicalHistory.weight}} kg.</li>
                            <li>TEMPERATURA: {{patientMedicalHistory.temp}}°C</li>
                            <li>PRESION: {{patientMedicalHistory.pressure}} (media)</li>
                        </ul>
                    </div>
                    <hr>
                    <p>Historial de Atencion con el especialista {{userData.displayName}}</p>
                    <div *ngFor="let appointment  of patientAppointments; let i=index">
                        <hr>
                        <ul>
                            <li>FECHA: {{appointment.date}}</li>
                            <li>ESPECIALIDAD: {{appointment.specialty | specialties}}</li>
                            <li>DIAGNOSTICO: {{appointment.diagnosis}}</li>
                            <li>Observaciones: </li>
                                <ul>
                                    <li *ngFor="let info of appointment.observations | keyvalue">
                                        {{info.key}}: {{info.value}}
                                    </li>
                                </ul>
                            <li>Comentario de {{appointment.appointmentInfo}}</li>
                        </ul>
                    </div>
                </div>
                <ng-template #elseBlockMedicalHistory>
                    <label class="btn btn-outline-danger">NO EXISTEN PACIENTES PARA LAS QUE USTED POSEA TURNO</label>
                </ng-template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>