<div class="container">
    <div class="p-2 mb-2 bg-light border rounded-3" style="width: 100%">
        <div class="container-fluid py-1">
            <div>
                <br>
                <h1 style="text-align: center;">REGISTRO PROFESIONAL</h1>
                <hr>
                <div class="row align-items-md-stretch">

                    <div class="col-md-6">
                        <form [formGroup]="form">

                            <div class="row align-items-md-stretch">
                                <div class="form-group col-md-6">
                                    <div class="form-group">
                                        <label style="float: left">Nombre</label>
                                        <input class="form-control" formControlName="name" type="name"
                                            placeholder="Ingrese su nombre" [(ngModel)]="doctor.name" required>
                                        <div class="errorMessage"
                                            *ngIf="getValue('name')?.invalid && (getValue('name').touched || getValue('name').dirty)">
                                            Ingrese un nombre válido</div>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <div class="form-group">
                                        <label style="float: left">Apellido</label>
                                        <input class="form-control" formControlName="lastName" type="apellido"
                                            placeholder="Ingrese su apellido" [(ngModel)]="doctor.lastName" required>
                                        <div class="errorMessage"
                                            *ngIf="getValue('lastName')?.invalid && (getValue('lastName').touched || getValue('lastName').dirty)">
                                            Ingrese un apellido válido</div>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row align-items-md-stretch">
                                <div class="form-group col-md-9">
                                    <div class="form-group">
                                        <label style="float: left">DNI</label>
                                        <input class="form-control" formControlName="dni" type="dni"
                                            placeholder="Ingrese su DNI" [(ngModel)]="doctor.dni" required>
                                        <div class="errorMessage"
                                            *ngIf="getValue('dni')?.invalid && (getValue('dni').touched || getValue('dni').dirty)">
                                            Ingrese un DNI válido</div>
                                    </div>
                                </div>

                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label style="float: left">Edad</label>
                                        <input class="form-control" formControlName="age" type="age"
                                            placeholder="Ingrese su edad" [(ngModel)]="doctor.age" required>
                                        <div class="errorMessage"
                                            *ngIf="getValue('age')?.invalid && (getValue('age').touched || getValue('age').dirty)">
                                            Ingrese una edad válida (18-120)</div>
                                    </div>
                                </div>
                            </div>

                            <br>

                                <div class="form-group col-md-12">
                                    <div class="form-group">
                                        <label style="float: left">Especialidades:</label>
                                        <br>

                                        <div class="btn-group btn-group-sm m-1" *ngFor="let specialty of specialtiesList; let i=index">
                                                <input type="checkbox" class="btn-check" id={{specialty}} autocomplete="off" [value]="specialty"
                                                    (change)="onCheckboxChange($event)" />
                                                <label class="btn btn-outline-primary day" for={{specialty}}>
                                                    {{specialty | specialties}}
                                                </label>
                                        </div>

                                        
                                    </div> 
                                </div>
                                <br>
                                <div class="form-group col-md-12">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Agregue su especialidad si no se encuentra en la lista"   [formControl]="extraSpecialty">
                                        <div class="input-group-append">
                                          <button class="btn btn-outline-primary" type="button" (click)="addSpecialty()">AGREGAR</button>
                                        </div>
                                      </div>                                    
                                </div>
                            <hr>

                            <div class="form-group col-md-8">
                                <div class="form-group">
                                    <label style="float: left">Email</label>
                                    <input class="form-control" formControlName="email" type="email"
                                        placeholder="Ingrese su email" [(ngModel)]="doctor.email" required>
                                    <div class="errorMessage"
                                        *ngIf="getValue('email')?.invalid && (getValue('email').touched || getValue('email').dirty)">
                                        Ingrese un mail válido</div>
                                </div>

                                <br>

                                <div class="form-group">
                                    <label style="float: left">Contraseña</label>
                                    <input autocomplete="new-password" #password class="form-control"
                                        formControlName="password" type="password" placeholder="Ingrese su contraseña"
                                        [(ngModel)]="doctor.password" required>
                                    <div class="errorMessage"
                                        *ngIf="getValue('password')?.invalid && (getValue('password').touched || getValue('password').dirty)">
                                        Mínimo 6 caracteres</div>
                                </div>

                                <br>
                                
                                <div class="form-group">
                                    <label style="float: left">Repita la contraseña</label>
                                    <input autocomplete="new-password" #password class="form-control"
                                        formControlName="rePassword" type="password"
                                        placeholder="Re-Ingrese su contraseña" [(ngModel)]="rePassword" required>
                                    <div class="errorMessage"
                                        *ngIf="getValue('rePassword')?.invalid && (getValue('rePassword').touched || getValue('rePassword').dirty)">
                                        Mínimo 6 caracteres</div>
                                </div>
                            </div>
                            
                            <hr>

                            <div class="container-input-file">
                                <div>
                                    <input class="form-control" formControlName="file" type="file" multiple
                                        (change)="uploadImage($event)" placeholder="Ingrese su imagen">
                                </div>
                            </div>
                            <br>
                            <div class="row align-items-center">
                                <div class="form-group col-md-3">                               
                                    <div id="captcha" class="captcha"></div>
                                </div>
                                    <div class="form-group col-md-3">
                                    <button class="btn rounded btn-primary" type="button" (click)="createCaptcha()">Cambiar</button>
                                </div>
                            </div>
                            <br>
                            <div class="input">
                                <input type="text" class="form-control"
                                placeholder="Ingrese motivo de la cancelacion" [formControl]="enteredCaptcha">
                            </div>
                            <hr>

                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary form-control" (click)="registerDoctor()"
                                    [disabled]="!form.valid">Registrar</button>
                                <button class="btn btn-info form-control" routerLink="/register">Volver</button>
                            </div>
                        </form>
                    </div>


                    <div class="col-md-6" style="text-align: center;">
                        <img src='/assets/logos/doctor.png' class="img-responsive" style="width: 80%;">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>